
.open-sans-normal {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }
*{
    margin: 0px;
    border:0px;
}
.body_bg{
    background-color: #EAEAEA;
}
nav{
    display: flex;
    background-color:rgba(255, 255, 255, 0);
    justify-content: space-between;
    width: 1140px;
    height: 151px;
    margin: 50px 0px;

}
.btn{
    border-radius: 10px;
    background-color: #4E47FF;
    color: white;
    font-size: 16px;
    font-weight: bold;
    transition: 0.3s;
    cursor: pointer;
}
.btn:hover{
    background-color: #FFB805;
    color: black;
    transform: scale(1.03);
}
.nav_button{
    height: 48px;
    width: 132px;
}
nav h1{
    font-size: 34px;
    color:rgb(78, 71, 255);
    font-weight: 900;
}

header{
    display: flex;
    background-image: url("Assets/Hero-bg.png");
    justify-content: center;
    flex-wrap: wrap;
    height: 698px;
}
.banner{
    height: 237px;
    width: 905px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0px 0px 152px 0px;
}
.banner h1{
    margin-bottom: 30px;
    text-align: center;
    font-size: 65px;
    font-weight: bold;
    color: #252432;
}
.banner button{
    height: 48px;
    width: 174px;
}

/* CSS for main section */

main{
    width: 1140px;
    margin: 0px auto;
}


/* CSS for action section */

.action_section{
    display: flex;
    justify-content: space-between;
    margin: 116px 0px;
    align-items: center;
}
.action_inf{
    width: 517px;
}
.action_inf h1{
    font-size: 42px;
    font-weight: bold;
    color: #252432;
}
.action_inf p{
    margin: 23px 0px;
    font-size: 24px;
    color: #25243283;
}
.action_inf button{
    height: 48px;
    width: 229px;
}
.action_img img{
    height: 328px;
    width: 403px;
    border-radius: 60px;

}

/* CSS for Productive Users Section */

.prod_sec{
    background-color: #4E47FF1A;
    height: 306px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}
.prod_header{
    display: flex;
    justify-content: center;
    height: 45px;
    width: 856px;
}
.prod_header h2{
    font-size: 38px;
    font-weight: bold;
    color: #252432;
}
.prod_data{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    height: 121px;
    width: 856px;
}
.prod_val{
    font-size: 80px;
    font-weight: bold;
    color: #4E47FF;
}
.prod_val_inf{
    font-size: 20;
    color: #00000083;
}
.prod_{
    width: 162px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/* Users’ Feedback Section */

.feedback{
    margin: 137px 0px;
}
.feedback_header{
    display: flex;
    justify-content: center;
}
.feedback_header h1{
    font-size: 42px;
    font-weight: bold;
    color: #252432;
}
.feedback_article{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}
.stars span{
    color: #FFB805;
    height: 15.85px;
    width: 16.67px;
}
.stars{
    margin: 24px;
}
.feedback_info{
    margin: 0px 24px 24px 24px;
    width: 318px;
}
.feedback_info h1{
    color: #1E1E1E;
    font-size: 24px;
    font-weight: 600px;
}
.feedback_info p{
    font-size: 16px;
    color: #1E1E1E;
}
.feedback_user{
    margin: 0px 24px 24px 24px;
    display: flex;
}
.feedback_user img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-right:12px;
}
.feedback_box{
    height: 243px;
    width: auto;
}
.feedback_name{
    color: #757575;
    font-size: 16px;
}
.feedback_date{
    color: #B3B3B3;
    font-size: 16px;
}
.feedback_box{
    background-color: white;
    width: 366px;
    border-radius: 20px;
}

/* CSS for extra section */
/* .abc{
    display: block;
    justify-content: center;
} */
.extra{
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
}
.extra h1{
    font-size: 50px;
    font-weight: bold;
    color: black;
    margin-top: 71px;
}
.extra h5{
    font-size: 16px;
    color: rgba(0, 0, 0, 0.484);
    font-weight: normal;
    margin: 20px auto;
}
.extra button{
    height: 48px;
    width: 195px;
    margin-bottom: 20px;
    font-weight: normal;
}
.extra img{
    height: 364px;
    width: 840px;
    border-radius: 50px;
    margin-bottom: 71px;
}

/* CSS for get in touch section */
.in_touch{
     /* background-color: #757575;  */
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 632px;
    margin: 92.23px 0px 14px 0px;
}

.in_touch h1{
    font-size: 97px;
    font-weight: bold;
}

.form_box label{
    /* background-color: #4E47FF; */
    font-size: 18px;
    font-weight: 500;
    height: 22px;
}
.form_box{
    /* background-color: hsl(81, 46%, 68%); */
    height: 490px;
    width: 497px;
}
.form_block{
    /* background-color: aqua; */
}
.form_box input{
    font-size: 20px;
    border-radius: 10px;
    width: 497px;
    height: 70px;
    margin: 10px 0px 19px 0px;
    padding-left: 32px;
}
.form_box textarea{
    font-size: 20px;
    border-radius: 10px;
    width: 497px;
    margin: 10px 0px 19px 0px;
    padding: 20px 0px 0px 32px;
}
.form_button{
    width: 497px;
    height: 70px
}

/* Css for Footer Section */

.footer{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer_box{
    /* background-color: #b2b1d7; */
    margin: 104px 0px;
    width: 531px;
    height: 221px;
}
.footer_box h1{
    font-size: 100px;
    font-weight: 900;
    color: #4E47FF;
    display: flex;
    justify-content: center; 
}
.footer_box p{
    font-size: 16px;
    color: #8987A1;
    text-align: justify;
    text-align-last: center;
}
.footer_box ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
}
.footer_box ul li{
    list-style: none;
    margin-right: 50px;
    font-size: 16px;
    color: #8987A1;
}
.footer_inf{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
a{
    text-decoration: none;
    color: #8987A1;
}